body{
    background: rgba(252, 221, 187, 0.7);
}
.h-1{
    font-size: 15px;
    font-family: Verdana ;
    background: rgba(127, 255, 212, 0.53);
    display: inline-block;
    width: 210px;
    height: 30px;
    padding: 7px;

    border: 3px solid darkblue;
    border-radius: 0px 20px 0px 20px ;
}
